config_monitor.json
[
    {
        "id": "a843b1efce314306",
        "type": "tab",
        "label": "Exemplo1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "input_serial",
        "type": "serial in",
        "z": "a843b1efce314306",
        "name": "UART STM32",
        "serial": "stm32_uart",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "parse_data"
            ]
        ]
    },
    {
        "id": "parse_data",
        "type": "function",
        "z": "a843b1efce314306",
        "name": "Parse Acertos",
        "func": "var line = msg.payload.trim();\nif (line.startsWith(\"ACERTOS:\")) {\n    var value = parseInt(line.split(\":\")[1]);\n    msg.payload = value;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "chart",
                "982ea23d130e420e"
            ]
        ]
    },
    {
        "id": "chart",
        "type": "ui_chart",
        "z": "a843b1efce314306",
        "name": "Acertos ao longo do tempo",
        "group": "monitor_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Acertos",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#00bfff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "982ea23d130e420e",
        "type": "ui_text",
        "z": "a843b1efce314306",
        "group": "monitor_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Acertos =",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "stm32_uart",
        "type": "serial-port",
        "name": "",
        "serialport": "COM7",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "false",
        "responsetimeout": ""
    },
    {
        "id": "monitor_group",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "monitor_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "monitor_tab",
        "type": "ui_tab",
        "name": "STM32 Monitor",
        "icon": "dashboard",
        "order": 1
    }
]