flow_monitor.json
[
    {
        "id": "a843b1efce314306",
        "type": "tab",
        "label": "Exemplo1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "input_serial",
        "type": "serial in",
        "z": "a843b1efce314306",
        "name": "UART_IN",
        "serial": "stm32_uart",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "parse_data"
            ]
        ]
    },
    {
        "id": "parse_data",
        "type": "function",
        "z": "a843b1efce314306",
        "name": "Parse Acertos",
        "func": "var line = msg.payload.trim();\nif (line.startsWith(\"ACERTOS:\")) {\n    var value = parseInt(line.split(\":\")[1]);\n    msg.payload = value;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "chart",
                "982ea23d130e420e"
            ]
        ]
    },
    {
        "id": "chart",
        "type": "ui_chart",
        "z": "a843b1efce314306",
        "name": "Acertos X Tempo",
        "group": "monitor_group",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Acertos X Tempo (s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00bfff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "982ea23d130e420e",
        "type": "ui_text",
        "z": "a843b1efce314306",
        "group": "monitor_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Acertos =",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "2c79bea01a30214f",
        "type": "serial out",
        "z": "a843b1efce314306",
        "name": "UART_OUT",
        "serial": "eee8dd5a56dcdca2",
        "x": 650,
        "y": 760,
        "wires": []
    },
    {
        "id": "08577cf4d1707a55",
        "type": "ui_button",
        "z": "a843b1efce314306",
        "name": "",
        "group": "monitor_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "dd98f22f58c0d20d",
                "2c79bea01a30214f"
            ]
        ]
    },
    {
        "id": "8073c1cd39a8fa8e",
        "type": "ui_button",
        "z": "a843b1efce314306",
        "name": "",
        "group": "monitor_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 820,
        "wires": [
            [
                "dd98f22f58c0d20d",
                "2c79bea01a30214f"
            ]
        ]
    },
    {
        "id": "dd98f22f58c0d20d",
        "type": "debug",
        "z": "a843b1efce314306",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "stm32_uart",
        "type": "serial-port",
        "name": "",
        "serialport": "COM7",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "false",
        "responsetimeout": ""
    },
    {
        "id": "monitor_group",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "monitor_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eee8dd5a56dcdca2",
        "type": "serial-port",
        "name": "",
        "serialport": "COM7",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "monitor_tab",
        "type": "ui_tab",
        "name": "STM32 Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]